html {
    display: flex;
    justify-content: center;
}

#modal {
    display: none;
}

#modal.active {
    display: block;
    border: 6px black solid;
    position: fixed;
    display: flex;    
    z-index: 1000;
    background: rgba(255, 255, 255);
    width: min(78vw, 837px) ;
    overflow-y: auto;
    max-height: 90vh;
}

#modal .content {
    display: grid;
    grid-template-areas: 
    "top-content cross-button"
    "directors cross-button"
    "description description"
    "img img"
    "actors actors"
    ;
}

#modal .top-content { grid-area: top-content ;}
#modal .cross-button { grid-area: cross-button ;}
#modal .directors { grid-area: directors ;}
#modal .description { grid-area: description ;}
#modal img { grid-area: img ;}
#modal .actors { grid-area: actors ;}
#modal .close-button { grid-area: close-button ; display: none ;}

#modal .content {
    padding: 7%;
}

#modal button {
    background: transparent;
    border: none;
    font-size: 30px;
    align-self: flex-start;
}

#modal .top-content {
    font-weight: 600;
    font-size: 24px;
}

#modal .top-content * {
    margin: 6px;
}

#modal h2 {
    font-size: 48px;
}

#modal p {
    font-size: 24px;
}

#modal .actors {
    font-size: 20px;
}

#modal .directors .directed {
    font-weight: 400;
}

#modal .directors .directors-name,
#modal .description,
#modal .actors {
    font-weight: 300;
}

#modal .directors .directed,
#modal .directors .directors-name {
    margin-bottom: 7px ;
}

#modal .directors .directors-name,
#modal .description {
    margin-top: 7px ;
}


#modal .cross-button {
    justify-self: flex-end;
}

#modal img {
    width : 100%
}

button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 72vw;
    padding-top: 2%;
}

.text {
    font-family: 'Oswald';
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle ;
}

.header {
    height : 137px ;
    padding-inline: 2.5%;
    border: 1px solid ;
    background-color: rgb(97, 120, 127, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    width : 182px ;
}

.header h3 {
    display: none;  
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    color: black;
    display: flex;
    align-self: center ;
}

#big-movie-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72vw;
    border: 6px black solid;
}

#big-movie-box img {
    margin : 10px ;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 90% ;
    max-width: 90%; 
}

#big-movie-box .movie-info {
    display: flex;
    flex-direction: column;
}

#big-movie-box .movie-info h2 {
    align-self: flex-start ;
    margin: 5%;
}

#big-movie-box .short-description {
    margin : 5% ;
    font-weight: 200;
    font-size: 16px;
    color: black;
}

#big-movie-box .movie-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,11,11,11);
    color: white ;
    border-radius : 25px ;
    font-weight: 500;
    border: none;
    margin : 5% ;
    align-self: center;
    font-size: 14px;
    width: 83px ;
    height: 36px;
}

.movie-list {
    display: flex;
    flex-direction: column;
    width: 72vw;
    gap : 50px ;
}
.movie-box {
    width: 100% ;
    aspect-ratio: 1/1 ;
    position : relative ;
}

.movie-list img{
    width: 100% ;
    height : 100% ;
    object-fit: cover;    
}


.movie-box:nth-child(n+3) {
    display: none;
}

.movie-list.expanded .movie-box:nth-child(n+3) {
    display: block;
}

.btn-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,11,11,11);
    color: white ;
    border-radius : 25px ;
    font-weight: 500;
    border: none;
    margin : 5% ;
    align-self: center;
    font-size: 20px;
    width: 206px ;
    height: 32px;
}

.transparent-rectangle {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 40%;
    padding: 7%;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    display: flex;
    
}

.transparent-rectangle h4 {
    font-size: 24px ;
    color: white ;
    font-weight: 600;
    margin-top: 0px;
}

.transparent-rectangle button {
    position : absolute ;
    right : 15px ;
    font-size: 14px ;
    color: white ;
    background-color: rgb(45, 44, 44, 1);
    font-weight: 500;
    border: none;
    width: 81px;
    height: 25px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    border-radius: 15px;
    border-color: rgb(45, 44, 44, 1);
    display: flex ;
    align-self: flex-end;
    justify-content: center  ;
    align-items: center;

}

.others .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 30px;

}

.others .name .select {
    height: 70px;
    font-size: 36px;
    font-weight: 600;
    color: black;
    background-color: white;
    
}

@media (min-width: 550px ) {
    body {
        width: min(78vw, 837px);
        padding-top: 2%;
    }

    .header h3 {
        display: block;
        font-weight: 300;
        font-size: 40px;       
        color: white ; 
        margin: auto;
    }
    .header {
        justify-content: flex-start;
    }
    .header img {
        width : 165px ;
    }
    h2 {
        font-size: 40px;
        align-self: flex-start;
    }
    #big-movie-box {
        flex-direction: row;
        width: min(78vw, 837px);
    }
    #big-movie-box .movie-info {
        display: flex;
        flex-direction: column;
    }
    #big-movie-box .short-description {
        font-size: 24px;
    }
    #big-movie-box .movie-info button {
        align-self: flex-end;
        font-size: 20px;
        width: 115px ;
        height: 45px;
    }
    #big-movie-box img {
        width: 168px ;
        height: 246px;
    }
    .movie-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: min(78vw, 837px);
    gap : min(4.68vw, 50.22px)
    }
    .movie-box {
    width: 47% ;
    }
    .movie-box:nth-child(n+3) {
        display: block;
    }
    .movie-box:nth-child(n+5) {
        display: none;
    }
}

@media (min-width: 900px ) {
    .header {
        height : 122px ;
    }
    .header img {
        width : 127px ;
    }
    .header h3 {
        margin-left: 30px;
    }
    
    h2 {
        font-size: 48px;
    }
    #big-movie-box .short-description {
        font-size: 28px;
    }
    #big-movie-box .movie-info button {
        font-size: 24px;
        width: 166px ;
        height: 68px;
    }
    #big-movie-box img {
        width: 227px ;
        height: 334px;
    }
    .movie-box {
        width: 29.33% ;
    }
    .movie-box:nth-child(n) {
        display: block;
    }
    .btn-see-more {
        display: none;
    }
    #modal .content {
    display: grid;
    grid-template-areas: 
    "top-content img"
    "directors img"
    "description description"
    "actors actors" 
    "close-button close-button"
    ;
}

    #modal .top-content { grid-area: top-content ;}
    #modal .cross-button { grid-area: cross-button ; display: none;}
    #modal .directors { grid-area: directors ;}
    #modal .description { grid-area: description ;}
    #modal img { grid-area: img ;}
    #modal .actors { grid-area: actors ;}
    #modal .close-button { grid-area: close-button ; display: block ;}

    #modal .content {
        padding: 7%;
    }

    #modal img {
        margin: 10px;
    }

    #modal button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(250,11,11,11);
        color: white ;
        border-radius : 25px ;
        font-weight: 500;
        border: none;
        margin : 5% ;
        align-self: center;
        font-size: 20px;
        width: 206px ;
        height: 32px;
        justify-self: center;
    }
 
}
